<h4>Listado</h4>
        <ul class="list-group">
            <li *ngFor="let character of characteList; 
            let i = index; 
            let isFirst = first;
            let isLast = last;
            let isEven = even;
            let isOdd = odd" 

            class="list-group-item d-flex justify-content-between align-items-center "
            [ngClass]="{
                'list-group-item-success': isLast,
                'list-group-item-primary' : isEven
                }">
            <!-- class="list-group-item {{i === 0 ? 'list-group-item-success': ''}}> 
             Otra forma de hacerlo (No es convencional hacerlo así)-->

             <div> 
                <span class="text-primary"> {{i +1}}</span>
                <span>{{character.name}} - </span> 
                <strong>Power:</strong> 
                <span>{{character.power}}</span>
            </div>
            <!-- <span>Es el primero: {{isFirst}} </span>
            <span>Es el último: {{isLast}} </span>
            <span>Es par: {{isEven}} </span> -->
            
            <button (click)="onDeleteCharacter(character.id)" class= "btn btn-danger">
                X
            </button>
             
            </li>
           
        </ul>
